@model PurchaseViewModel
@{
    ViewData["Title"] = "Корзина";
}

<hr />
<h2 style="text-align: center;"><strong>Корзина</strong></h2>
<hr />
<table align="center">
    <tbody>
        <tr>
            <td style="text-align: center;" hidden>id</td>
            <td style="text-align: center; padding: 10px">Название</td>
            <td style="text-align: center; padding: 10px">Тип</td>
            <td style="text-align: center; padding: 10px">Цена за шт.</td>
            <td style="text-align: center; padding: 10px">Количество</td>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
            <td style="text-align: center; padding: 10px">@product.Product.Name</td>
            <td style="text-align: center; padding: 10px">@product.Product.Type</td>
            <td style="text-align: center; padding: 10px">@product.Product.Price</td>
            <td style="text-align: center; padding: 10px">@product.Count</td>
            
            @using(Html.BeginForm("Purchase", "Shop", FormMethod.Post))
                {
                    <td style="text-align: center; padding: 10px"><input type="submit" value="x"/></td>
                    <td style="text-align: center;" hidden><input name="productId" value="@product.Product.Id"/></td>                    
                    <td style="text-align: center; padding: 10px" hidden><input name="personId" value="@ViewBag.PersonId" /></td>
                }                
            </tr>
        }      
    </tbody>
</table>
<table style="margin-top: 20px;" align="center">
    <tbody>
        <tr>
            <td style="text-align: right;">Сумма покупки:</td>
            <td style="text-align: right;">@Model.Sum</td>
        </tr>
        <tr>
            <td style="text-align: right;">Ваша персональная<br />скидка:</td>
            <td style="text-align: right;">@Model.Sale</td>
        </tr>
        <tr>
            <td style="text-align: right;">Итог:</td>
            <td style="text-align: right;">@Model.Result</td>
        </tr>
    </tbody>
</table>

<table align="center" style="margin-top: 20px;">
    <tbody>
        <tr>
            <td style="padding-right: 10px">
                @using (Html.BeginForm("Catalog", "Shop", FormMethod.Get))
                {
                <input type="submit" value="Назад" size="50" />
                <input hidden name="personId" value="@ViewBag.PersonId" />
                }
            </td>
            <td style="padding-right: 10px">
                @using (Html.BeginForm("DeletePurchase", "Shop", FormMethod.Get))
                {
                <input type="submit" value="Купить" size="50" />
                <input hidden name="personId" value="@ViewBag.PersonId" />
                }
            </td>
        </tr>
    </tbody>
</table>